@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#logo{
  width:5rem;
}

.container-footer p{
  width: 95%;
  margin: auto;
  color: rgb(72, 46, 218);
  padding: 2% 0;
}
